[submodule "sysml-aadl-libraries"]
	path = sysml-aadl-libraries
	url = https://github.com/santoslab/sysml-aadl-libraries.git
[submodule "models/sysml-isolette"]
	path = models/sysml-isolette
	url = https://github.com/santoslab/sysml-isolette.git
[submodule "models/sysml-rts"]
	path = models/sysml-rts
	url = https://github.com/santoslab/sysml-rts.git
[submodule "models/temp-control/sysml-temp-control-mixed"]
	path = models/temp-control/sysml-temp-control-mixed
	url = https://github.com/santoslab/sysml-temp-control-mixed.git
[submodule "models/temp-control/sysml-temp-control-periodic"]
	path = models/temp-control/sysml-temp-control-periodic
	url = https://github.com/santoslab/sysml-temp-control-periodic.git
[submodule "models/temp-control/sysml-temp-control-mixed-sel4-camkes"]
	path = models/temp-control/sysml-temp-control-mixed-sel4-camkes
	url = https://github.com/santoslab/sysml-temp-control-mixed-sel4-camkes.git
